page-images-and-video {
     .main-idea-list{
        background: #fff;
        margin-top: 15px;
        display: flex;
        justify-content: space-around;
        padding: 20px 0;
        // a{
        //     img{
                
        //     }
        // }
    }
    
}
