.checkbox-text-color{
    color: #1295a9;
}
.coll-checkbox--flex{
    display: flex;
    border: none !important;
}
.main-idea-list__title-folders--center{
    text-align: center;
}
.main__link-collaborate--orange{
    background: #e8920c;
    color: #fff;
    font-family: "RobotoRegular";
}