page-ideabox-followers{
		.change-password {
    display: block;
    color: #f7f7f7;
    padding: 40px 0 17px 40px;
    font-size: 14px;
    position: relative; 
    text-decoration: none;
    }
    .change-password:before {
      content: "";
      position: absolute;
      background: url(../assets/img/arr-left.png);
      width: 9px;
      height: 13px;
      left: 24px;
      top: 42px; }

	  }
	.header__input--width{
		width: 260px;
	}
	.main-idea-list{
	background: #fff; 
	background-size: cover;
    margin-top: 10px;
	padding-bottom: 10px;
	}
	.link-back{
		display: block;
		margin: 12px 0 0 10px;
	}
	.user {
		clear: both;
		display: -ms-flexbox;
		display: flex;
		margin: 20px 0 0 20px;
		
	}
	.user__name {
		font-family: "RobotoBold";
		color: #000;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		margin-left: 20px; 
	} 
	.user__name--color{
		color: #515151;
	}
	.found-items{
		overflow: hidden;
		padding: 20px 0 0 20px !important;
		display: flex;
		align-items: center;
		&__img{
			float: left;
			margin-right: 10px;
			border-radius: 25px;
		}
		&__text{
			font-size: 14px;
			color: #515151;
		}
		&__name-color{
			color: #1295a9;
		}
	}
                