.log-out{
	margin-top: 125px;
}
.profile-photo__marbot{
	margin-bottom: 20px;
}
.log-in-button{
	width: 95%;
	margin-bottom: 0;
}
.other-acc-button{
	background: #52c6d8;
	color: #f3fbfc;
}
.log-button-width{
	width: 44%;
}