  page-my-groups{
        .change-password {
            display: block;
            color: #f7f7f7;
            padding: 40px 0 17px 40px;
            font-size: 14px;
            position: relative; 
            text-decoration: none;
            }
            .change-password:before {
            content: "";
            position: absolute;
            background: url(../assets/img/arr-left.png);
            width: 9px;
            height: 13px;
            left: 24px;
            top: 42px; }
    .mygroups-link{
        color: #1295a9;
        border-bottom: 1px solid #d9eef1;
        padding: 20px 0 20px 20px;
        display: block;
    }
    .main-idea-list--mar{
        margin: 10px 0 0;
    }
  }    
        