<ion-content class="background">
  <div class="user-profile">
        <h5 class="user-profile__title">User Profile</h5>
        <a class="user-profile__link-upload" href="#" (click)="clickAvatar()">
          <img src="../assets/img/circle.png" alt="">
        </a>
        <ul class="user-profile__dots">
          <li class="user-profile__item"><a class="user-profile__active" href="#"></a></li>
          <li class="user-profile__item"><a class="user-profile__active" href="#"></a></li>
          <li class="user-profile__item"><a class="user-profile__link" href="#"></a></li>
        </ul>
      </div>
      <div class="form">
        <form action="">
          <input class="form__item-text" [(ngModel)]="profile.mobilePhone" name="mobile" type="number" placeholder="Mobile phone">
          <!--<input class="form__item-text form__item-icon" type="text" placeholder="Adress" required>
          <input class="form__item-text form__item-icon" type="text" placeholder="Gender" required>-->
          <a href="#" class="form__item-text form__item-icon" (click)="clickAdress()">Adress</a>
          <div class="form-skills" *ngIf="adressdropdown">
            <a class="form__item-text form__item-icon" href="#">Country<span>*</span></a>
            <a class="form__item-text form__item-icon" href="#">City<span>*</span></a>	
            <a class="form__item-text form__item-icon" href="#">House Number & Street Name</a>	  
            <a class="form__item-text form__item-icon" href="#">Post Code</a>	
		    	</div>
          <a href="#" class="form__item-text form__item-icon" (click)="clickGender()">Gender</a>
          <div class="form-skills" *ngIf="genderdropdown">
            <a class="form__item-text form__item-icon" href="#">Male</a>
            <a class="form__item-text form__item-icon" href="#">Female</a>	
		    	</div>
          <input class="form__item-text" [(ngModel)]="profile.url" name="url" type="text" placeholder="Your URL" >
          <button class="form__button-cv">Upload CV</button>
          <button class="form__button" (click)="goToProfile3()">Saving skip</button>
        </form>
  </div>
 </ion-content>  