.main-idea-list__title-folders-white{
    color: #fff;
}

.main__link-collaborate--orange{
     text-align: center;
     border: none;
     background: #e8920c;
     width: 95%;    
     padding: 15px 0;
     border-radius: 50px;
     color: #fff;
     display: block;
     margin: 25px auto 20px;
     font-family: 'RobotoRegular';
}
.holder-protop-buttons{
    margin-top: 20%;
}



    