page-shared-with {
    .main-idea-list{
        background: #fff;
        margin-top: 15px;
    }
    .found-items__text--mar{
        margin-right: 25%;
    }
    .holder-members{
        display: flex;  
    }
    .add-member{
        margin-right: 15px;
    }
}
