*{
	padding: 0; 
	margin: 0; 
	outline: none;
}
ul{
	list-style-type: none;
}
.dn{
	display: none;
}
.background{
    font: 16px 'RobotoRegular', sans-serif;
	overflow-x: hidden;
	background: url(../assets/img/main-bg.png) repeat-y;
	background-size: cover;
}
.main {
  background: #fff; 
}