
// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-background{
    background-image: url(../assets/img/bac-app.jpg);
}
*{
	padding: 0; 
	margin: 0; 
	outline: none;
}
ul{
	list-style-type: none;
}
a {
	text-decoration: none;
}
.background{
    font: 16px 'RobotoRegular', sans-serif;
	overflow-x: hidden;
	background: url(../assets/img/main-bg.png);
	background-size: cover;
}
.main {
  background: #fff; 
}
.change-password{
	padding: 15px 0 2px 40px !important;
	&:before{
		top: 17px !important;
	}
}
.header{
	&__top{
		margin-top: 8px !important;
	}
}
/* POPUP */
.popup-profile{
	display: flex;
	align-items: center;
	min-height: 100%;
	height: 568px;
	&__pad{
		padding: 20px 10px 10px;
	}
	&__title{	
		padding: 0 20px;
		p{
			color: #515151;
			span{
				color: #1295a9;
			}
		}
	}
	&__item{
		background: url(../img/bg-popup.png) no-repeat;
		width: 308px;
		height: 257px;
		margin: auto;
	}
	&__textarea{
		width: 247px;
		border: 1px solid #d9eef1;
		background: #fff;
		resize: none;
		text-indent: 20px;
		border-radius: 30px;
		text-indent: 0;
		
		padding: 20px ;
		color: #515151;
		margin-top: 15px;
		font-size: 16px;
	}
	&__button{
		background: none;
	    border: none;
	    background: #deff0d;
	    padding: 15px 0;
	    border-radius: 50px;
	    color: #3c4500;
	    display: block;
	    width: 90%;
	    margin: 0 auto 20px;
	}
	&__button-view{
		font-family: "RobotoBold";
		color: #fff;
		background: #e8920c;
	}
}

.main-categories{
	background: #fff;
	background-size: cover;
	margin: 12px 0 0;
	padding-bottom: 100px;
}


.share{
	font-size: 18px;
	margin-top: 146px;
	text-align: center;
	color: #fff;
	p{
		margin-bottom: 10px;
	}
	&__input{
		background: none;
		border: none;
		text-indent: 20px;
		padding: 15px 0;
		width: 100%;
		border-bottom: 1px solid #3dbfd3;
		color: #f7f7f7;
		&::-webkit-input-placeholder{
			color: #f7f7f7;
		}
	}
	&__link{
		display: block;
		padding-bottom: 13px;
		border-bottom: 1px solid #3dbfd3;
	}
	&__img{
		position: relative;
		left: 40%;
		top: 5px;
	}
}
