page-invite-people-popup {
   .holder-links__title{
       text-align: center;
       color: #fff;
   }
    .form__button-link-device-img-1{
        background: #52c6d8 url(../assets/img/invite-people.png) no-repeat;
        background-position: 87px 15px;
    }
     .form__button-link-device-img-2{
        background: #52c6d8 url(../assets/img/invite-share.png) no-repeat;
        background-position: 111px 15px;
    }
}
