page-invite-people-popup {
   .holder-links__title{
       text-align: center;
       color: #fff;
   }
    .form__button-link-device-icon--change{
        background: #52c6d8 url(../assets/img/invite-people.png) no-repeat;
        background-position: 125px 15px;
    }
     .form__button-link-device-icon{
        background: #52c6d8 url(../assets/img/invite-share.png) no-repeat;
        background-position: 146px 15px;
    }
}
