<ion-content class="background">
    <div class="header">
          <div class="header__top">
            <form action="">
              <input class="header__input" type="text" placeholder="Search">
            </form>
            <div class="header__holder-menu">
              <a href="slack://channel?id=<CHANNEL-ID>&team=<TEAM-ID>"><img src="assets/img/slack-icon.png" alt=""></a>
              <a href="#" (click)="goToMenu()"><img src="assets/img/menu-icon.png" alt=""></a>
            </div>
          </div> 
          <div class="header__bot">
            <ul class="header__list">
              <li class="header__item"><a (click)="goToIdeaList()" class="header__list-link header__list-link-idea" href="#"></a></li>
              <li class="header__item "><a class="header__list-link header__list-link-goblet" href="#"></a></li>
              <li class="header__item header__item--active"><a class="header__list-link header__list-link-cloud--active" href="#"></a></li>
              <li class="header__item "><a class="header__list-link header__list-link-bell" href="#"></a></li>
            </ul>
          </div>
      </div>
      <!-- SCREEN UPLOAD -->
      <div class="main">
        <h4 class="main__title">Submit your idea</h4>
        <a class="main__upload-photo" href="#" (click)="modalUploadPhoto()" ><img src="{{idea.image}}" alt=""></a>
        <!--<a class="main__upload-files" href="#">Upload files</a>-->
        <input class="main__input"  [(ngModel)]="idea.name"  type="text" placeholder="Invention Name">
        <a class="main__input main__input--arrdown" href="#"  (click)="focusDesc()">A brief description</a>
        <div class="holder-description-text">
          <textarea  [(ngModel)]="idea.briefDesc" *ngIf="showDesc" class="holder-description__text" placeholder="Type the text..."></textarea>
        </div> 
        <!--<input class="main__input" type="text" placeholder="Promotional Description">-->
        <a class="main__input main__input--arrdown" href="#"  (click)="focusPromDesc()">Promotional Description</a>
        <textarea *ngIf="showProDesc"  [(ngModel)]="idea.promDesc" class="holder-description__text" placeholder="Type the text..."></textarea>
        <!--<input class="main__input main__input-arrdown" type="text" placeholder="Category">-->
        <a href="#" class="main__input main__input--arrdown" (click)="catTogleList()">Categories</a>

        <a href="#" *ngIf="showCatList" class="main__input main__input--arrdown" (click)="catTogle()">{{category}}</a>
        <div  *ngIf="showCat">
          <ion-searchbar (ionInput)="categorySearch($event)">
          </ion-searchbar>
            <ul>
              <li *ngFor="let categ of categories">
                <button (click)="setCat($event)" class="select-category" value="{{categ}}">
                    {{categ}}
                </button>
              </li>
            </ul>

        <div *ngIf="showCatList" class="cat-container">
            <a href="#" class="main__input main__input--arrdown" (click)="catTogle1()">{{category1}}</a>
            <div  *ngIf="showCat1">
              <ion-searchbar
                (ionInput)="categorySearch($event)">
              </ion-searchbar>
            <ul>
                <li *ngFor="let categ of categories"><button (click)="setCat1($event)" class="select-category" value="{{categ}}">
                    {{categ}}
                </button></li>
              </ul>
            </div>
            <a href="#"  class="main__input main__input--arrdown" (click)="catTogle2()">{{category2}}</a>
            <div  *ngIf="showCat2">
              <ion-searchbar
                (ionInput)="categorySearch($event)">
              </ion-searchbar>
            <ul>
                <li *ngFor="let categ of categories"><button (click)="setCat2($event)" class="select-category" value="{{categ}}">
                    {{categ}}
                </button></li>
              </ul>
            </div>
            <a href="#"  class="main__input main__input--arrdown" (click)="catTogle3()">{{category3}}</a>
            <div  *ngIf="showCat3">
              <ion-searchbar
                (ionInput)="categorySearch($event)">
              </ion-searchbar>
            <ul>
                <li *ngFor="let categ of categories"><button (click)="setCat3($event)" class="select-category" value="{{categ}}">
                    {{categ}}
                </button></li>
              </ul>
            </div>

        </div>
        <div class="main__holder-links">
          <a class="main__link-public" href="#" (click)="goPublic()">Go public</a>
          <a class="main__link-hide" href="#">Hide</a>
        </div>
    </div>
</ion-content>