page-groups-portfolio-owner {
    .header{
		&__top{
			margin-top: 8px;
			display: flex;
			justify-content: space-around;
		}
		&__input{
			background: none, url(../assets/img/loupe.png) no-repeat;
			background-position: 93%;
			border: 1px solid #52c6d8;
			border-radius: 20px;
			height: 40px;
			color: #f0f9fb;
			text-indent: 20px;
			width: 198px;
			&::-webkit-input-placeholder{
				color: #f0f9fb;
			}
		}
		
		&__holder-menu{
			display: flex;
			align-items: center;
			a{
				padding-right: 22px;
			}
		}
		&__bot{
			margin: 20px 30px 0 25px;
		}
		&__list{
			display: flex;
			justify-content: space-around;
			align-items: flex-end;
			
		}
		
		&__list-link{
			display: block;
			// background: url(../assets/img/sprite-icon.png) no-repeat;
			// width: 30px;
			// height: 30px;
		}
		&__list-link-idea{
			background: url(../assets/img/idea-icon.png) no-repeat;
			width: 30px;
			height: 30px;
		}
		&__list-link-goblet{
			background-position: -80px;
			background: url(../assets/img/goblet-icon.png) no-repeat;
			width: 26px;
			height: 24px;
		}
		// &__list-link-cloud{
		// 	background-position: -160px;
		// 	background: url(../assets/img/cloud.png) no-repeat;
		// 	width: 28px;
		// 	height: 24px;
		// 	margin-bottom: -4px;
		// }
		&__list-link-cloud{
			background-position: -160px;
			background: url(../assets/img/cloud.png) no-repeat !important;
			width: 28px;
			height: 24px;
		}
		&__list-link-bell{
			background-position: -240px;
			background: url(../assets/img/bell.png) no-repeat;
			width: 20px;
			height: 25px;
		}
	}
  .main-group-bg{
      background: #fff;
      padding: 20px 0 10px;
  }
  .content-top{
      padding: 0 20px;
    display: flex;
    justify-content: space-between;
  }
  .shared{
      color: #e8920c;
  }
  .holder-delete{
      position: relative;
       padding: 0 0 0 20px;
      &__button{
        text-align: center;
        border: 1px solid #f0f0f0;
        border-radius: 20px;
        width: 90px;
        padding: 5px 0;
        color: #1295a9;
        font-size: 14px;
      }
      &__line-left{
            content: "";
            position: absolute;
            width: 20px;
            height: 1px;
            background: #d9eef1;
            left: 0px;
            display: block;
            top: 15px;
      }
        &__line-right{
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background: #d9eef1;
            left: 110px;
            display: block;
            top: 15px;
      }
    }
    .main{
        	&__input{
			background: none;
			border: none;
			text-indent: 20px;
			padding: 20px 0;
			width: 100%;
			border-bottom: 1px solid #d9eef1;
			color: #9dbdc2;
		}
		&__input--arrdown{
			background: url(../assets/img/arr-down.png) no-repeat;
			background-position: 95%; 
			display: block;
			text-decoration: none;
		}
           &__link-collaborate{
                color: #3c4500;
                background: #deff0d;
                display: block;
                text-align: center;
                padding: 15px 0;
                margin: 20px 20px 0;
                border-radius: 30px;
            }
    }
    .main-content{
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
    }
    .content-left{
       &__title{
            color: #1295a9;
            font-size: 16px;
            margin-top: 10px !important;
        }
    }
     .group-folders{
             margin-right: 10px;
          a{
              display: block;
              width: 190px;
              background: rgba(229, 242, 244, .5);
              padding: 40px 0;
              margin: 20px 0;
              border-radius: 20px;
              text-align: center;
          }
      }
      .content-right{
          &__title{
            text-align: center;
            color: #1295a9;
            font-size: 16px;
            margin-top: 10px !important;
          }
          .members-items{
              margin-top: 20px;
            img{
                border-radius: 50%;
                border: 4px solid #e1eef0;
                margin-bottom: 10px;
            }
         }
      }
      
      .main__input--color{
          color: #515151;
      }
      
}
