.main-language {
  padding-bottom: 1px; }
  .main-language .main-change-pass__input--language {
    color: #515151;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #d9eef1; }
    .main-language .main-change-pass__input--language::-webkit-input-placeholder {
      color: #515151; }