.popup-profile__item--bg{
    background: url(../assets/img/bg-popup-2.png) no-repeat !important;
    width: 308px;
    height: 195px;
}
.popup-profile__textarea--mar{
    margin-top: 5px !important;
}
.popup-profile__button--mar{
    margin-top: 0 !important;
}