page-popup-delete3 {
       .user-popup{
        background: url(../assets/img/bg-popup2.png) no-repeat;
        width: 308px;
        height: 132px;
        margin: 50% auto 0;
        &__title{
            padding: 20px;
            text-align: center;
            color: #515151;
        }
    }
    // .user-popup--pad{
    //     padding-top: 15px;
    // }
    .user-holder-buttons {
        display: flex;
        justify-content: space-around;
         a {
             display: block;
             border-radius: 20px;
             padding: 15px 40px;
         } 
         &__continue{
              background: rgb(225, 238, 240);  
              color: #1295a9;
         }
         &__cancel{
             background: rgb(232, 146, 12);
             color: #fff;  
         }  
    }
}
