<ion-content class="background">
    <a class="change-password find-coll-border"  href="#" (click)="clickbackmenu()">Find Collaborators</a>
		<a class="form__item-text form__item-icon" href="#" (click)="clickCollaborators()">Skills</a>
		<a class="form__item-text form__item-icon form__item-coll-bor" href="#" *ngIf="collaboratorsdrop" (click)="clickIt()">IT</a>
			<ion-app class="md">
				<ion-list *ngIf="itdrop" class="coll-checkbox ">
					<ion-item >
						<ion-label>Skill</ion-label>
						<ion-checkbox [(ngModel)]="Skill"></ion-checkbox>
					</ion-item>
						<ion-item>
						<ion-label>Second Skill</ion-label>
						<ion-checkbox [(ngModel)]="Second"></ion-checkbox>
					</ion-item>
						<ion-item>
						<ion-label>Third Skill</ion-label>
						<ion-checkbox [(ngModel)]="Third"></ion-checkbox>
					</ion-item>
			</ion-list>
		</ion-app>		
		<a class="form__item-text form__item-icon" href="#">Media</a>
		<a class="form__item-text form__item-icon" href="#">Tech</a>
		<a class="form__item-text form__item-icon" href="#">Music</a>
		<a class="form__item-text form__item-icon" href="#" (click)="clickSience()">Science</a> 
		<div class="holder-coll-items coll-checkbox" *ngIf="itemsdrop">
			<a class="form__item-text form__item-icon" href="#">Language</a>
			<a class="form__item-text form__item-icon" href="#">Location</a>
		</div>	
		<button class="form__button form__button--bold" (click)="clickfindcoll()">Find Collaborator</button>
</ion-content>
    