page-protopidea-challenge-folders {
     .header{
		&__top{
			margin-top: 8px;
			display: flex;
			justify-content: space-around;
		}
		&__input{
			background: none, url(../assets/img/loupe.png) no-repeat;
			background-position: 93%;
			border: 1px solid #52c6d8;
			border-radius: 20px;
			height: 40px;
			color: #f0f9fb;
			text-indent: 20px;
			width: 198px;
			&::-webkit-input-placeholder{
				color: #f0f9fb;
			}
		}
		
		&__holder-menu{
			display: flex;
			align-items: center;
			a{
				padding-right: 22px;
			}
		}
		&__bot{
			margin: 20px 30px 0 25px;
		}
		&__list{
			display: flex;
			justify-content: space-around;
			align-items: flex-end;
			
		}
		&__list-link{
			display: block;
		}
		&__list-link-idea{
			background: url(../assets/img/idea-icon.png) no-repeat;
			width: 30px;
			height: 30px;
		}
		&__list-link-goblet{
			background-position: -80px;
			background: url(../assets/img/goblet-icon.png) no-repeat;
			width: 26px;
			height: 24px;
		}
	
		&__list-link-cloud--active{
			background-position: -160px;
			background: url(../assets/img/cloud-active.png) no-repeat !important;
			width: 28px;
			height: 24px;
			margin-bottom: 3px;
		}
		&__list-link-bell{
			background-position: -240px;
			background: url(../assets/img/bell.png) no-repeat;
			width: 20px;
			height: 25px;
		}
	}
    .main-idea-list{
        background: #fff;
        background-size: cover;
        padding-bottom: 1px;
        margin-top: 0;
       
        &__link{
            display: block;
            background: rgba(224, 237, 239, .6);
            text-align: center;
            margin: 10px 20px;
            border-radius: 20px;
            padding: 70px 0;
        }
    }
   
   
    .main-idea-list__title-folders--center{
        text-align:center;
        color: #1295a9;
        padding-top: 10px;
    }
    .form__button-cv--icon-third{
        border: none;
        background: #e8920c !important;
        width: 90%;
        padding: 15px 0;
        border-radius: 50px;
        color: #f3fbfc;
        display: block;
        margin: 25px auto 20px ;
        background-position: 60px 10px;
    }
    .header{
        &__list-link-goblet--active{
            background-position: -80px;
            background: url(../assets/img/goblet-active.png) no-repeat;
            width: 26px;
            height: 24px;
            margin-bottom: 3px;
	    }
        &__list-link-cloud{
            background-position: -160px;
            background: url(../assets/img/cloud.png) no-repeat ;
            width: 28px;
            height: 24px;
           
	    }
    }        
}
