
.main-idea-list{
	&__border--pad{
		padding-bottom: 20px;
	}
	&__title-group{
		color: #1295a9;
		border-bottom: 1px solid #d9eef1;
		padding: 12px 0 12px 12px;
	}
}

.main-idea-list__border--pad{
padding-bottom: 10px;
}
