.main{
	background: #fff;
	background-size: cover;
	margin: 12px 0 30px;
	/* SCREEN IDEABOX */
	&__title-screenidea{
		color: #1295a9;
		background: url(../img/arr-right.png) no-repeat;
		background-position: 95%;
		padding: 20px 0 20px 20px;
		display: block;
	}
	&__imgidea{
		display: block;
		text-align: center;
		img{
			border-radius: 20px;
		}
	}
	&__listidea{
		display: flex;
		justify-content: space-between;
		padding: 0 20px;
		margin: 10px 0;
		li{
			img{
					width: 86px;
					height: 62px;
					border-radius: 20px;
				}
			
		}
		
	}
	&__link-collaborate{
		color: #3c4500;
		background: #deff0d;
		display: block;
		text-align: center;
		padding: 15px 0;
		margin: 0 20px;
		border-radius: 30px;
	}
	&__input-color{
		&::-webkit-input-placeholder{
			color: #515151;
		}
		&:focus{
			color: #1295a9;
		}
	}	
}
.main-idea{
	background: #f9f9f9;
	background-size: cover;
	margin: 12px 0 0;

}
.footer{
	padding:20px 0;
	background: #00bfcc;
	&__list{
		display: flex;
		justify-content: space-around;
	    align-items: center;
	    text-align: center;
	    a{
	    	color: #fff;
            
	    }
	}
}
