page-idea-create2{
.main{
	/* SCREEN IDEABOX */
	&__title-screenidea{
		color: #1295a9;
		background: url(../assets/img/arr-right.png) no-repeat;
		background-position: 95%;
		padding: 20px 0 20px 20px;
		display: block;
	}
	&__imgidea{
		display: block;
		text-align: center;
		img{
			border-radius: 20px;
		}
	}
	&__listidea{
		display: flex;;
		justify-content: space-between;
		margin: 10px auto;
		padding: 0 15px;
		width: 320px;
		li{
			img{
					width: 86px;
					height: 62px;
					border-radius: 20px;
				}
			
		}
		
	}
	&__input--arrdown{
		background: url(../assets/img/arr-down.png) no-repeat;
		background-position: 95%;
		color: #515151;
	}
	.categorydropdown{
		border: 1px solid #1295a9;
		padding: 20px;
		border-width: 1px 0;
		color: #515151;
	}
	&__link-collaborate{
		color: #3c4500;
		background: #deff0d;
		display: block;
		text-align: center;
		padding: 15px 0;
		margin: 0 20px;
		border-radius: 30px;
	}
	&__input-color{
		&::-webkit-input-placeholder{
			color: #515151;
		}
	}	
}

// .main-idea{
// background: rgba(255, 255, 255, .8) !important;
// 	background: #f9f9f9;
// 	background-size: cover;
// 	margin: 12px 0 0;
.main {
    margin-top: 0px !important; 
}
.footer{
	padding:20px 0;
	 z-index: 0;
    position: absolute;
    width: 100%;
	// &__img-1{
	// 	margin-bottom: 0 !important;
	// }
	// &__img-2{
	// 	margin-bottom: 3px !important;
	// }
	&__list{
		display: flex;
		justify-content: space-around;
	    align-items: center;
	    text-align: center;
	    a{
	    	color: #fff;
            img{
				margin-bottom: 5px;
			}
	    }
	}
}
}